<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testDao" class="com.otus.spring.TestDaoImpl">
        <constructor-arg name="pathToAnswer" value="/answer.csv"/>
        <constructor-arg name="pathToQuestion" value="/test.csv"/>
    </bean>

    <bean id="testService" class="com.otus.spring.TestServiceImpl">
        <constructor-arg name="testDao" ref="testDao"/>
    </bean>

    <bean id="messageHolder" class="com.otus.spring.MessageHolderImpl"/>
    <bean id="writer" class="com.otus.spring.WriterImpl"/>
    <bean id="reader" class="com.otus.spring.ReaderImpl">
        <constructor-arg index="0" ref="writer"/>
        <constructor-arg index="1" ref="messageHolder"/>
    </bean>

    <bean id="userReader" class="com.otus.spring.UserReaderImpl">
        <constructor-arg name="messageHolder" ref="messageHolder"/>
        <constructor-arg name="reader" ref="reader"/>
        <constructor-arg name="writer" ref="writer"/>
    </bean>

    <bean id="tester" class="com.otus.spring.TesterImpl">
        <constructor-arg index="0" ref="reader"/>
        <constructor-arg index="1" ref="writer"/>
        <constructor-arg index="2" ref="testService"/>
        <constructor-arg index="3" ref="messageHolder"/>
        <property name="count" value="5"/>
    </bean>

    <bean name="gameEngine" class="com.otus.spring.GameEngineImpl">
        <constructor-arg index="0" ref="writer"/>
        <constructor-arg index="1" ref="tester"/>
        <constructor-arg index="2" ref="userReader"/>
        <constructor-arg index="3" ref="messageHolder"/>
    </bean>
</beans>